body {
    font-family: Arial, sans-serif;
    display: grid;
    place-items: center;
    margin: 0;
    height: 100vh;
    background-color: #15202B;
    color: white;
}

.sidebar {
    width: 350px;
    padding: 20px;
    background-color: #192734;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-creation {
    background: #192734;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre elementos */
}

.user-creation input {
    width: calc(100% - 20px);
    max-width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    background: #253341;
    color: white;
}

.user-creation button {
    background: #1DA1F2;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.social-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-login button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
}

.signup-link a {
    color: #1DA1F2;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}